.wrapper {
  padding: 25px;
  max-width: 1300px;
  margin: 0 auto;
  font-size: 100%;
}

.box {
  display: flex;
  padding: 25px;
  margin-bottom: 20px;
  align-items: flex-start;
  /* background-color: rgb(243, 243, 243);
  border-radius: 10px;
  box-shadow: 6px 10px 10px -4px rgba(0,0,0,0.1); */
}
.item-wrapper {
  /* background-color: yellow; */
  display: flex;
  flex: 0 1 100%;
}
.item-wrapper a {
  text-decoration: none;
  color: black;
}
.item-wrapper a h4 {
  margin: 5px 0px 0px 0px;
  font-size: 1.3em;
}
.item {
  margin: 0px 5px;
  /* border: 2px solid rgb(6, 161, 182); */
  flex: 0 1 calc((100% - 40px) / 4);
}
img {
  max-width: 100%;
  height: auto;
  transition: 200ms;
}
img:hover {
  transform: scale(1.01);
}

.item-title {
  flex: 0 0 80px;
  background: rgb(55, 64, 182);
  color: white;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  word-break: break-all;
  align-self: stretch;
}

.item-title p {
  margin: 0px;
  font-size: 14px;
}

.item-title:hover {
  cursor: pointer;
  color: white;
  opacity: 0.9;
}

/* Carousel */

/* Responsive  */

@media (max-width: 580px) {
  .wrapper {
    padding: 5px;
  }
  .box {
    flex-direction: column;
  }
  .item-wrapper {
    flex-wrap: wrap;
  }
  .item {
    flex: 1 1 100%;
    margin: 7px 0px;
  }
  .item-title {
    margin-right: 0px;
    margin-bottom: 5px;
    flex-direction: row;
    padding: 0px 10px;
  }
  img {
    min-width: 100%;
    height: auto;
  }
}

/* for Tab */
@media (min-width: 580px) and (max-width: 959px){
  .box {
    flex-direction: column;
  }
  .item-wrapper {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;

  }
  .item {
    min-width: 50%;
    margin: 0;
  }
  .item:nth-child(odd) {
    padding: 5px 5px 5px 0px;
  }
  .item:nth-child(even) {
    padding: 5px 0px 5px 5px;
  }
  .item-title {
    margin-right: 0px;
    margin-bottom: 5px;
    flex-direction: row;
    padding: 0px 10px;
  }
}
