.wrapper {
  padding: 25px;
  box-sizing: border-box;
  max-width: 1300px;
  margin: 0 auto;
}
img {
  width: 100%;
  height: auto;
  transition: 200ms;
}
img:hover {
  transform: scale(1.01);
}
.row {
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
}
.video-item {
  width: 25%;
  padding: 15px 10px;
}
.video-item a {
  text-decoration: none;
  color: black;
}
.video-item a h4 {
  margin: 5px 0px 0px 0px;
  font-size: 1.3em;
}



/* ================================================ */
/* Responsive  */
/* ================================================ */

/* for Mobile */
@media (max-width: 580px) {
  .wrapper {
    padding: 15px;
  }
  .video-item {
    width: 100%;
  }
}

/* for Tab */
@media (min-width: 580px) and (max-width: 959px){
  .video-item {
    width: 50%;
  }
}